body {
  background: url("../src/images/background.jpeg") no-repeat center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  font-family: Sans-Serif, Helvetica, Arial;
}

// background-image: #2c1338;
